[2018-10-22 19:22] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-22 20:48] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-22 21:06] DanielHabenicht commented on #2
Closed by #3

[2018-10-22 21:06] #2 closed

[2018-10-22 21:07] DanielHabenicht commented on #1
Closed by #3

[2018-10-22 21:07] #1 closed

[2018-10-23 06:29] FelsGorilla opened #5 "Download in Internet Explorer does not work"
Hi,

i'm trying to get it work in Internet Explorer. Sadly Edge just does nothing, whilst IE 11 is erroring with "ERROR TypeError: Die Zuordnung zu schreibgeschützten Eigenschaften ist im strict-Modus nicht zulässig.".

I'm using Angular 6, error appears on prod and dev build.

[2018-10-23 09:49] #5 closed

[2018-10-23 09:52] DanielHabenicht commented on #5
Hi,
I did not had time yet to test in every browser, so thanks for reporting.

It should be fixed in the next update (v1.1.3).

[2018-10-23 09:52] DanielHabenicht commented on #5
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngx-vcard)
- [GitHub release](https://github.com/DanielHabenicht/ngx-vcard/releases/tag/v1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-29 18:28] greenkeeper[bot] opened #8 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.0` to `10.12.1`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40types%2Fnode-10.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2018-11-03 06:30] DanielHabenicht commented on #8
Pinned

[2018-11-03 06:30] #8 closed

[2018-11-05 23:21] greenkeeper[bot] opened #11 "An in-range update of @types/jasmine is breaking the build 🚨"
## The devDependency [@types/jasmine](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `2.8.10` to `2.8.11`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40types%2Fjasmine-2.8.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@t

[2018-11-15 02:25] greenkeeper[bot] opened #16 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.7` to `10.12.8`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40types%2Fnode-10.12.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2018-11-22 11:40] #16 closed

[2018-12-01 19:54] greenkeeper[bot] opened #23 "An in-range update of ng-packagr is breaking the build 🚨"
## The devDependency [ng-packagr](https://github.com/ng-packagr/ng-packagr) was updated from `4.4.0` to `4.4.5`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fng-packagr-4.4.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ng-packagr is a devDependen

[2018-12-03 18:41] greenkeeper[bot] opened #24 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.11` to `10.12.12`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40types%2Fnode-10.12.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@t

[2018-12-03 18:55] greenkeeper[bot] opened #25 "An in-range update of @angular/cli is breaking the build 🚨"
## The devDependency [@angular/cli](https://github.com/angular/angular-cli) was updated from `7.1.0` to `7.1.1`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40angular%2Fcli-7.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@angular/cli is a dev

[2018-12-03 18:56] greenkeeper[bot] opened #26 "An in-range update of @angular-devkit/build-angular is breaking the build 🚨"
## The devDependency [@angular-devkit/build-angular](https://github.com/angular/angular-cli) was updated from `0.11.0` to `0.11.1`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40angular-devkit%2Fbuild-angular-0.11.1).

This version is **covered** by your **current version range** and after updating it in your project **the b

[2018-12-03 18:57] greenkeeper[bot] opened #27 "An in-range update of @angular-devkit/build-ng-packagr is breaking the build 🚨"
## The devDependency [@angular-devkit/build-ng-packagr](https://github.com/angular/angular-cli) was updated from `0.11.0` to `0.11.1`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40angular-devkit%2Fbuild-ng-packagr-0.11.1).

This version is **covered** by your **current version range** and after updating it in your project *

[2018-12-03 19:53] greenkeeper[bot] opened #28 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.12.3` to `15.12.4`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fsemantic-release-15.12.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2018-12-08 23:36] #27 closed

[2018-12-08 23:36] #25 closed

[2018-12-08 23:36] #26 closed

[2018-12-09 00:16] #28 closed

[2018-12-09 00:17] #24 closed

[2018-12-09 00:17] #23 closed

[2019-01-18 13:11] DanielHabenicht opened #36 "UTF-8 Encoding"
Add global encoding options for all properties.

[2019-02-15 19:01] greenkeeper[bot] opened #41 "An in-range update of ng-packagr is breaking the build 🚨"
## The devDependency [ng-packagr](https://github.com/ng-packagr/ng-packagr) was updated from `4.7.0` to `4.7.1`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fng-packagr-4.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ng-packagr is a devDependen

[2019-03-07 16:21] #41 closed

[2019-04-10 17:49] greenkeeper[bot] opened #54 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `11.13.2` to `11.13.3`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2F%40types%2Fnode-11.13.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2019-04-15 10:10] greenkeeper[bot] opened #56 "An in-range update of ng-packagr is breaking the build 🚨"
## The devDependency [ng-packagr](https://github.com/ng-packagr/ng-packagr) was updated from `5.0.1` to `5.1.0`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fng-packagr-5.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ng-packagr is a devDependen

[2019-04-15 22:37] greenkeeper[bot] opened #57 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `4.0.1` to `4.1.0`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fkarma-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project

[2019-04-18 14:49] greenkeeper[bot] opened #58 "An in-range update of commitizen is breaking the build 🚨"
## The devDependency [commitizen](https://github.com/commitizen/cz-cli) was updated from `3.0.7` to `3.1.0`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fcommitizen-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commitizen is a devDependency o

[2019-04-24 20:14] greenkeeper[bot] opened #59 "An in-range update of karma-jasmine-html-reporter is breaking the build 🚨"
## The devDependency [karma-jasmine-html-reporter](https://github.com/dfederm/karma-jasmine-html-reporter) was updated from `1.4.0` to `1.4.1`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Fkarma-jasmine-html-reporter-1.4.1).

This version is **covered** by your **current version range** and after updating it in your project **

[2019-04-26 19:22] greenkeeper[bot] opened #60 "An in-range update of tsickle is breaking the build 🚨"
## The devDependency [tsickle](https://github.com/angular/tsickle) was updated from `0.34.3` to `0.35.0`.

🚨 [View failing branch](https://github.com/DanielHabenicht/ngx-vcard/compare/master...DanielHabenicht:greenkeeper%2Ftsickle-0.35.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tsickle is a devDependency of this p

[2019-04-28 15:09] #60 closed

[2019-04-28 15:09] #59 closed

[2019-04-28 15:09] #58 closed

[2019-04-28 15:09] #57 closed

[2019-04-28 15:09] #56 closed

[2019-04-28 15:09] #54 closed

[2019-04-28 16:18] DanielHabenicht opened #64 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-04-28 16:35] DanielHabenicht commented on #64
fixed

[2019-04-28 16:35] #64 closed

[2019-06-06 13:41] ben04 opened #89 "Blob download on iOS not working"
Hi,

when I try to download the vCard I created with this library on an iPhone, it doesn't work.
Safari gives the following error message:
"The operation couldn’t be completed. (WebKitBlobResource error 1.)"
On Chrome I just get a "website not reachable" error, the url begins with 'blob:https://'...
On Firefox it's just trying to load the "new page" forever. Nothing happens here.

Any hint how to

[2019-06-07 07:20] DanielHabenicht commented on #89
Hi, are all issues just present on mobile browsers on smartphones?

[2019-06-07 16:23] ben04 commented on #89
Yes, it happens just on iPhones and iPads.

[2019-06-07 18:00] DanielHabenicht commented on #89
Seems like this is the Bug you are having: https://stackoverflow.com/a/56002172/9277073

There is nothing wrong with the code used by this library.

I even tried using the [file-saver](https://github.com/eligrey/FileSaver.js) package but it does not solve the problem either.

[2019-06-08 11:49] ben04 commented on #89
It also happens on Firefox and Chrome on iPhones/iPads, so I'm not sure...maybe iOS handles blob as too dangerous in general and prevents a download.

[2019-06-08 12:49] DanielHabenicht commented on #89
Yep, MacOS handles it like any other operating system. Only iOS produces such errors.

As I can't reproduce the Bug, because I don't have an iOS device at my hand I can only wish you luck to catch the error.

I would be happy if you report back a solution if you find one.

[2019-08-12 21:28] DanielHabenicht commented on #89
@ben04 is the bug only occurring if you pin the tab? Is it working if you unpin the tab?

[2019-09-03 07:36] DanielHabenicht opened #129 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-01-13 04:55] rendonvelez opened #205 "UTF-8 in socialUrls"
in socialUrls urls are not visible when the econding is UTF-8

[2020-01-13 13:47] DanielHabenicht commented on #205
Can you post a code snippet on what you are using?

[2020-01-14 10:57] DanielHabenicht commented on #205
Without an reproduction I can't fix the bug.

[2020-04-01 09:47] renovate[bot] opened #252 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Closed/Ignored

These updates were closed unmerged and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency karma-chrome-launcher to v3](../pull/107)

---
<details><summary>Advanced</summary>

- [ ] Check this box to trigger a reques

[2020-05-26 18:53] togro opened #292 "How can use VCardFormatter functions ?"
Hi ,

We want store vCard on database , exists any way for use functions from VCardFormatter module ?

Like : VCardFormatter.getVCardAsString

[2020-05-27 19:25] DanielHabenicht commented on #292
I added it to the public API `VCardFormatter` should now be able to be imported.
(as of version 2.1.0)

[2020-05-27 19:48] #292 closed

[2020-05-27 19:48] DanielHabenicht commented on #292
You can also have a look at the example: https://stackblitz.com/github/DanielHabenicht/ngx-vcard

[2020-05-27 19:51] DanielHabenicht commented on #292
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngx-vcard/v/2.1.1)
- [GitHub release](https://github.com/DanielHabenicht/ngx-vcard/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-21 13:09] nileshzala005 opened #321 "telephone value is not showing in generated card"
I set telephone value in card but when I download the vcard , its not showing telephone value . let me know if there is another way to set mobile number or telephone value
Please check this [stackblitz](https://stackblitz.com/edit/github-ghytqv)
[code]
![image](https://user-images.githubusercontent.com/28622981/88058426-157db100-cb81-11ea-96ab-4e3cf052f471.png)

[2020-07-21 13:50] DanielHabenicht commented on #321
seems like the type is not set automatically. You can use the following "workaround" till I will fix it:

[code]

[2020-07-28 07:46] nileshzala005 commented on #321
@DanielHabenicht still its not working ,https://stackblitz.com/edit/github-ghytqv

[2020-08-27 18:19] Blindworks commented on #321
Hi, it also seems like that the type param in address is not working properly.

`this.vCard = {
      version: '4.0',
      kind: 'individual',
      address: [
        { street: this.foundPrivateAddress.street,
          locality: this.foundPrivateAddress.city,
          countryName: this.foundPrivateAddress.country,
          postalCode: this.foundPrivateAddress.zip,
          param: {

[2020-09-06 14:24] DanielHabenicht commented on #321
@Blindworks can you please open another issue with reproduction, as @nileshzala005 send for this issue? (via Stackblitz).
I couldn't reproduce your error: https://stackblitz.com/edit/github-ghytqv-57dyhj?file=src/app/app.component.ts

Telephone value will be visible with the next update, the default type will be `voice` as stated by the [RFC](https://tools.ietf.org/html/rfc6350#section-6.4.1).

[2020-09-06 14:30] #321 closed

[2020-09-06 14:33] DanielHabenicht commented on #321
:tada: This issue has been resolved in version 2.1.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngx-vcard/v/2.1.8)
- [GitHub release](https://github.com/DanielHabenicht/ngx-vcard/releases/tag/v2.1.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-15 19:27] baozakelka opened #350 "Andorid can't open vcf file from ngx-vcard"
.ts

vCardEncoding: typeof VCardEncoding = VCardEncoding;
vCard: VCard = {
    kind: 'org',
    name: {
      firstNames: 'test1',
      lastNames: 'test2'
    },
    telephone: ['+66818149999'],
    rev: '20191002T161110Z',
    homeFax: ['02-999-999'],
    email: ['test@gmail.com'],
    title: 'Developer',
    organization: 'test Technology Co.,Ltd.',
    url: 'www.test.co.th'
  };

html

<button

[2020-09-15 20:02] DanielHabenicht commented on #350
Which Browser, App? Please report everything that might be relevant to your bug.

[2020-09-16 00:55] baozakelka commented on #350
Which Browser (angular 8) and open webpage from chrome on android os

[2020-09-22 12:09] richa1gupta opened #356 "fax in vcf card"
I setup the workFax / homeFax while generating vcf but it is not shown in vcf card after download.

workFax: ['(004456) 01242/92034001'],
homeFax: ['(004456) 01242/92034001']

Also tried this but it does not add fax:
telephone: [{value: '(004456) 01242/92034001', param: {type: "fax"}}]

Downloaded from Chrome and opened vcf card in outlook client

[2020-09-22 13:17] DanielHabenicht commented on #356
For me it is working:
https://stackblitz.com/edit/github-al6evo?file=src/app/app.component.ts

You have to select "Fax" in Outlook:
![image](https://user-images.githubusercontent.com/13590797/93887238-be15d180-fce6-11ea-817b-43e80fb5a64b.png)

[2020-09-24 12:14] DanielHabenicht commented on #89
@ben04 any updates ony your side?

I will close this issue as it has nothing to do with this package.

[2020-09-24 12:14] #89 closed

[2020-09-24 12:14] DanielHabenicht commented on #205
Closing because of missing reproduction. Also seems to be tracked partly here #36.

[2020-09-24 12:14] #205 closed

[2020-09-25 08:40] chumbawambaa commented on #350
on Android devices, double click on downloaded vcf file -> it promts Import VCard? -> After clicking OK ->it prompts couldn't import vcf file
quick steps to replicate bug
ref link provide by you : https://stackblitz.com/github/DanielHabenicht/ngx-vcard
if you directly open in android device it will throws same bug

@DanielHabenicht  kindly guide for the same
framework used - Anuglar Version (8)

[2020-09-25 09:12] DanielHabenicht commented on #350
Try to set `version: '2.1` as here: https://stackblitz.com/edit/github-5ogoko?file=src/app/app.component.ts

Seems like the android standard Contacts app does not work with newer versions: https://android.stackexchange.com/questions/106888/what-vcard-formats-versions-and-encodings-are-supported-for-import

The example you provided above is working with the new Contacts app from Google (https://con

[2020-10-20 13:03] 1102ankit opened #377 "photo in vcf-card"
Not able to show photo or logo when passing the URL.

[2020-11-15 15:48] Easyschools commented on #377
any updates on this?

[2020-11-24 18:51] neamtuBC commented on #377
I have the same problem

[2021-01-13 20:27] blahblehblah commented on #377
same

[2021-01-13 20:45] blahblehblah commented on #377
i converted it to base64 and it worked, plus changed : into ;

[2021-01-14 07:32] DanielHabenicht commented on #377
@blahblehblah In the source code? Or in the object you gave to the formatter?
Would you mind sharing your solution? Than I might make a change, if I have time.

[2021-01-14 14:45] blahblehblah commented on #377
I gave it a url and handled the conversion of the url to base64 in my backend, however, we can simply inject a canvas incase of a url, load the image and use toDateURL() to get the base64

[2021-01-14 14:46] blahblehblah commented on #377
Or use a filereader perhaps, talking about client side solution for now

[2021-01-17 06:38] DIKGONZA opened #420 "Error en Chrome/Edge IOS/Android"
Hola buen día

Estoy usando el servicio pero en IOS al darle clic en el botón no descarga nada cuando la pagina se abre por chrome v87 ni por edge, por safari si lo descarga.

y en android saca error al descargar e intentar leer el archivo, dice que no se puede leer la tarjeta.

[2021-01-17 09:23] DanielHabenicht commented on #420
Sry, but this is an English issue tracker. Can you please write in English?

[2021-01-18 04:28] faizaldong opened #422 "Can we have download VCard from component instead in HTML Element?"

[2021-01-18 08:08] DanielHabenicht commented on #422
Well you can simply use `VCardFormatter​.​getVCardAsString​(​this​.​vCard​)` and then write your own download function.

I will have a look when I might refactor this module.

[2021-01-21 12:55] renovate[bot] opened #426 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 13:21] #426 closed

[2021-01-22 14:00] lasserg opened #427 "Telephone not working in Apple Contacts"
I have a problem with the plugin.
When adding a phone number it does not show up in Mac OS address book.
The code is as following:
`this.vCard = {
                name: {
                    firstNames: this.person.first_name,
                    lastNames: this.person.last_name
                },
                telephone: [this.person.cell_phone],
                email: [this.person.email]

[2021-01-23 11:48] DanielHabenicht commented on #427
I don't have an iPhone, so I can't reproduce.

Can you export a VCard from Apple Contacts and paste the file here?

[2021-02-01 01:45] faizaldong opened #433 "Rename homepage to website"
Hi Maintainer.

Do we have an option to change the attribute of VCard? In my codes I have
        url: {
            home: https://github.com/DanielHabenicht/ngx-vcard/issues/new,
            work: https://github.com/DanielHabenicht/ngx-vcard/issues/new
        },

but after export, Vcard have duplicate home page

![vcard](https://user-images.githubusercontent.com/17352624/106406171-70b72700-6473-

[2021-02-01 14:24] DanielHabenicht commented on #433
Hi @faizaldong ,

there is indeed a bug withing the formatter, which specifies both as `work` type.
https://github.com/DanielHabenicht/ngx-vcard/blob/1444eb5a4dd179945923e05f8c101c48e360cd1e/projects/ngx-vcard/src/lib/ngx-vcard.formatter.ts#L190-L204

But as the [RFC Documentation](https://tools.ietf.org/html/rfc6350#section-6.7.8) does not has an option for naming the link, there is none implemen

[2021-02-01 14:27] #420 closed

[2021-02-01 14:28] DanielHabenicht commented on #420
Closed because of inactivity, feel free to create an issue in english and with a reproduction.

[2021-02-08 17:23] faizaldong commented on #433
So after your changes, will remove the duplicate `home page` ?
reinstalled your library and the duplicate still appear

[2021-02-08 18:52] DanielHabenicht commented on #433
Yep, but that depends on the App you are using.
It is not guaranteed :/

[2021-02-08 18:56] DanielHabenicht commented on #433
Even the link I referenced as the solution does not help:
![image](https://user-images.githubusercontent.com/13590797/107267676-86b28200-6a47-11eb-876c-b8da5e06aa51.png)
If the program that displays the card overwrites the label for you want to be displayed, you can't change it.

[2021-03-23 16:43] Galileon-venta opened #459 "Custom Types"
I'm using a Samsung Smartphone (German) to validate my data. It imports
`telephone: [{value: '+49 12345678', param: {type: "cell"}}],`
as other attribute -> cell.

I'd like to get my Smartphone to auto select "Mobiltelefon" (Mobiltelefon) as the correct one but I dont get the Interface here. I changed the local file to accept any String which works with my phone but is propably not intended.

Is t

[2021-03-23 21:04] DanielHabenicht commented on #459
Can you show the file that is importing fine?

[2021-03-24 10:02] Galileon-venta commented on #459
File Content is as Follows:

`BEGIN:VCARD
VERSION:4.0
FN:Max Mustermann
N:Mustermann;Max;;;
GENDER:M
TEL;TYPE=Mobil:+49123456789
EMAIL;TYPE=Geschäftlich:ex@ample.com
TITLE:Beispiel
END:VCARD`

Tested with my Samsung S10 and an iPhone, both with newest update available installed.
iOS just ignores the Type because Apple does not specify more than that it is an e.g. E-Mail in its contacts app.

[2021-03-24 10:39] Galileon-venta commented on #459
UPDATE: I have done some more tests and think I have found a solution. The app recognizes e.g. 'HOME' as Zuhause but not 'home'. Is there something against writing all the keys in uppercase?

If not I'd submit this as a PR. Waiting for your feedback.

[2021-03-24 15:39] DanielHabenicht commented on #459
Mhm, thats not what the RFC says. https://tools.ietf.org/html/rfc6350
It strictly has lowercase types.

If you want you can create a new type like `NonCompliantVCard` (or a better name) and overwrite it there.
Although just mapping it to a custom type might be easier.

The type already can be overwritten by simply writing it in uppercase.

[2021-03-24 15:48] Galileon-venta commented on #459
Well...
I will contact Samsung then to get their feedback on this;

If you want, I can update this ticket when I get a response or we can just close it.

[2021-03-24 15:51] DanielHabenicht commented on #459
I've just seen that there are some differences in the example for vCard 3 and vCard 4. So it might still be an issue.

[2021-03-24 16:06] DanielHabenicht commented on #459
Nevermind, even the [standard ](https://www.ietf.org/rfc/rfc2426.txt) is not compliant :D
In VCard 3 they specify `TYPE` as
[code]

Just to use all of them in uppercase in their example...

Sure please update if they come back.

[2021-03-24 16:09] DanielHabenicht commented on #459
If this is a common issue you might add an option to uppercase all types, but in general it seems like a bad idea, because it opens up the complexity. Hope the local overwrite from your site is sufficient.

[2021-04-05 19:23] MrEduar commented on #89
Maybe it can be related to this.
https://discussions.apple.com/thread/7702312
https://discussions.apple.com/thread/251757033

[2021-04-25 11:29] UnChallenged opened #476 "Please make it work for angular 11.2.10"
getting this dependencies issues while installing

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: bizcard@0.0.0
npm ERR! Found: @angular/common@11.2.10
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"11.2.10" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common@">=5.x <11

[2021-04-25 13:29] DanielHabenicht commented on #476
can you try it with force? and report back if everything works?

Then I will upgrade the version number

[2021-04-25 18:34] UnChallenged commented on #476
Thank you. with --force it works.

[2021-04-25 18:41] DanielHabenicht commented on #476
yeah, that's just a workaround. I will add the higher version.

[2021-07-11 05:56] fastesol commented on #377
Hi @blahblehblah
Can you please share the sample vcf with photo?

Thank you!

[2021-08-05 10:27] bkr32 opened #540 "Angular 12 Support"
The current version of `ngx-vcard` supports Angular 11, please bring it up to support Angular 12

[2021-08-18 09:13] maxbauer opened #551 "Download button not working on iOS with Firefox"
Thanks in advance for this nice vCard library. I included it in my project and found the following bug:
Download button is not working with Firefox on iOS

**Steps to reproduce**
1. Open the Stackblitz example: https://stackblitz.com/github/DanielHabenicht/ngx-vcard
2. When clicking on the "Download VCard!" button nothing happens

**Environment**
- iPhone with iOS 14.7.1
- Firefox 36.0 (5732)

[2021-08-18 09:21] maxbauer commented on #350
On Android it also works with `version:'3.0'`

@DanielHabenicht could you please add a hint to the Readme file?

[2021-08-18 11:53] maxbauer commented on #540
For me it works with Angular12 as well

[2021-08-18 14:18] bkr32 commented on #540
@maxbauer did you happened to do `--force` or `--legacy-deps` while installing?

[2021-08-18 14:25] maxbauer commented on #540
Hmm, I do not remember that. I think I just installed it with `npm i ngx-vcard`

[2021-08-18 16:09] DanielHabenicht commented on #540
Is it working with angular 1? Then I will just increase the package version for now and update the framework later

[2021-08-20 08:36] bkr32 commented on #540
@DanielHabenicht the error given when attempting to install with angular 12 is
[code]

[2021-08-20 08:40] DanielHabenicht commented on #540
I know, but if you force it and use it then is it working?

[2021-08-20 08:45] bkr32 commented on #540
@DanielHabenicht yes it seems to work fine using `--force` this was tested using the directive and not the formatter however

[2021-08-20 09:43] #540 closed

[2021-08-20 17:06] DanielHabenicht commented on #540
:tada: This issue has been resolved in version 3.0.23 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngx-vcard/v/3.0.23)
- [GitHub release](https://github.com/DanielHabenicht/ngx-vcard/releases/tag/v3.0.23)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-20 19:00] DanielHabenicht commented on #476
Should be fixed by #540

[2021-08-20 19:00] #476 closed

[2021-08-20 19:38] bkr32 commented on #540
@DanielHabenicht not to be a bother but the error still occurs on sub-versions greater than `12.0.0`

`npm i ngx-vcard@latest`

[code]

of course no real issue in terms of installing and using with `--force`

[2021-08-20 19:43] DanielHabenicht commented on #540
Yep didn't thought that there are already 2 new versions 😅
I will fix it soon

[2021-08-22 10:39] DanielHabenicht commented on #540
:tada: This issue has been resolved in version 3.0.24 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngx-vcard/v/3.0.24)
- [GitHub release](https://github.com/DanielHabenicht/ngx-vcard/releases/tag/v3.0.24)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-22 15:32] danielsigl opened #555 "Validate empty values"
Hi,

It would be very helpful if each value would be checked if empty/null/undefined before adding to the vCard-file. Otherwise the value will be added as [object Object].

TEL;TYPE=voice:[object Object]
EMAIL:[object Object]

Thanks in Advance!

[2021-08-22 15:38] danielsigl commented on #555
sorry it was a usage issue ;)

[2021-08-22 16:12] danielsigl commented on #555
Hi @DanielHabenicht,

sorry for annoying you, I don't get it.

I'm trying to create an vCard depending on if there is a value or not.

Is it possible to set each vCard value like that?

`      if (titleFromForm) {
        this.vCard.title = titleFromForm;
      }`

Thanks in Advance!

Schöne Grüße aus Österreich ;)

[2021-08-22 16:41] DanielHabenicht commented on #555
well if it is `undefined` or `null` it should already be checked and not displayed, e.g.:
https://stackblitz.com/edit/github-9kqggk?file=src/app/app.component.ts

For your second example: `vCard.address` is not initialized as an array. So you would have to assign it on first use via `vCard.address = [address]` and later use `push()`.

[2021-08-22 17:59] danielsigl commented on #555
Thank's for your fast answer!

In my case, if I try it as in the directive example, undefined and null values are set as [object Object] in the vCard. I have to set them empty ('') that they will be not saved as an object in the android contact

[2021-08-22 19:55] DanielHabenicht commented on #555
Can you post a reproduction?
I can't reproduce: https://stackblitz.com/edit/github-mq7hoj?file=src/app/app.component.ts

[2021-08-23 19:35] danielsigl commented on #555
[code]

**Output:**
[code]

![image](https://user-images.githubusercontent.com/2467358/130508488-ad582eb9-a01d-44b4-8c3a-e98493726444.png)

[2021-08-24 08:14] danielsigl commented on #551
Same for Chrome on iOS

[2021-08-24 11:30] DanielHabenicht commented on #551
Did one of you already implement a workaround? E.g. by using file-saver package? (See #89)

Just asking on how to go forward on this. I don't want to maintain the download functionality as this is already done by multiple other packages.

So I might repackage it into a formater package (without dependencies) and another one with the directive (depending on one of the download packages).

[2021-08-24 11:31] DanielHabenicht commented on #555
I haven't done a reproduction yet. But it seems like it's just happening if you provide the parameter, right?

[2021-08-28 19:09] bkr32 opened #558 "Create VCard from JSON"
**Is your feature request related to a problem? Please describe.**
ngx-vcard should expose a function to download a vcard via a function.

**Describe the solution you'd like**
a function that consumes JSON file structured correctly and downloads a vcard

[2021-08-28 19:44] DanielHabenicht commented on #558
Sry, but can you rephrase your request and provide an example.
As far as I can see that is exactly what this package supplies: https://github.com/DanielHabenicht/ngx-vcard#use-as-formatter

[2021-08-28 19:55] DanielHabenicht commented on #551
@danielsigl can you explain if you are against using another package (https://www.npmjs.com/package/file-saver) or against repackaging?

[2021-08-28 19:56] danielsigl commented on #551
Sadly it do not work with file-saver too.

[2021-08-28 20:09] DanielHabenicht commented on #551
Then it might be an OS problem, any Errors or Traces in the console?

[2021-08-28 20:16] bkr32 commented on #558
Apologizes for the lack of context.

Let's say you have a table and want to download a specified contact, you'd pass it's data with a click like

[code]
Where `PossibleVcardDownloadFunction` is the exposed function from the package, I could meanwhile use the aforementioned method of creating it as string and downloading using file-saver

[2021-08-28 20:43] DanielHabenicht commented on #558
Ahh okay, so you want be to expose this function:
https://github.com/DanielHabenicht/ngx-vcard/blob/1117956e673ce9980b03a9e352a2d0d22518ad1e/projects/ngx-vcard/src/lib/download-vcard.directive.ts#L25-L40

[2021-08-29 07:36] bkr32 commented on #558
pretty much, currently the download function is tied to the html component as a directive and consumes the `vcard` set onInit, trying to set and download after this point results in a `version undefined` error

[2021-08-29 08:16] DanielHabenicht commented on #558
Can you make a reproduction of this bug and open another issue, it seems like it should not happen.

I will add an update to expose the function.

[2021-08-29 08:37] bkr32 commented on #558
will do so shortly

[2021-08-29 08:41] bkr32 opened #561 "Cannot read property 'version' of undefined"
**Describe the bug**
The download function throws the error `Cannot read property 'version' of undefined` if the `VCard` data isn't predefined OnInit.

**To Reproduce**
Attempt to assign data onClick and download

**Expected behavior**
Data should be assigned to the public vCard and download normally

https://stackblitz.com/edit/github-bzdlnk?file=src%2Fapp%2Fapp.component.html

[2021-09-06 10:30] bkr32 opened #566 "Add types for telephone and email in the formatter"
Telephone numbers  & emails should have types,
for example
[code]

[code]

currently we provide phone and email via  array through the formatter which defaults to `other`

[2021-10-08 22:52] #561 closed

[2021-10-08 22:54] DanielHabenicht commented on #356
Closing because of inactivity. Feel free to open it again if the issue is not resolved.

[2021-10-08 22:54] #356 closed

[2021-10-08 22:56] DanielHabenicht commented on #561
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ngx-vcard/v/4.1.0)
- [GitHub release](https://github.com/DanielHabenicht/ngx-vcard/releases/tag/v4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-08 22:59] DanielHabenicht commented on #566
Can you elaborate a little bit?
You can just provide and object instead of a simple string:
[code]

[2021-10-23 01:49] #551 closed

[2021-10-23 01:49] #427 closed

[2021-11-22 01:47] #566 closed

[2021-11-22 01:47] #555 closed

[2021-11-25 01:47] #433 closed

[2022-04-05 01:30] iconio commented on #377
@[blahblehblah](https://github.com/blahblehblah) could you share the code. I've been looking into this as well and can't make it work :/ I also tried as base64 and no dice :(

[2022-04-06 20:54] iconio opened #672 "Issue with char with "accents", i.e 'é'"
**Describe the bug**
I noticed that if there are any characters with "accents", for example: "é, á, ê", and so on... when you open the .vcf card those characters will change for something else. The "é", for example, becomes; √©

**To Reproduce**
Create an card and add any word with an accent, for example "Dênis".

**Expected behavior**
To output the entered character.

**Smartphone (please complet

[2022-04-20 09:10] olivierschmid commented on #377
For base64 encoded foto I have to set encryption and type parameter. Could you add them so we could use:

.....
photo: {
          value: contactImageBase64,
          param: {
            TYPE: 'image/jpeg',
            ENCODING: 'b'
          }
        },

......

Only working method for now is to use

photo: 'ENCODING=b;TYPE=image/jpeg:' + contactImageBase64

and then replace generated PHOTO:EN

[2022-07-18 15:09] maxbauer opened #685 "Angular 14 support"
Is a support of Angular 14 planned?

[2022-07-18 16:40] DanielHabenicht commented on #685
Yeah, just didn't have any time at the moment.
If it's still working (try it out by ignoring the npm incompatibility warnings) I can add the new version in the package JSON without doing anything else.

[2022-07-22 06:47] maxbauer commented on #685
It seems to work

[2022-07-29 21:31] DanielHabenicht commented on #685
I upped the version boundary to include version 14: https://github.com/DanielHabenicht/ngx-vcard/commit/07696df362d7b0f938cbcd8719afd96b965e8f1a

Please report back with the newly published version.

[2022-08-30 11:00] colinherzog-codin opened #688 "Encoding for photos"
**Base64 images not supported**
Contact apps like Apple or Outlook often require base64 encoded images

**I'd like to have the BasicPropertyParameters extended so that a photo can be saved as base64**
Extend the BasicPropertyParameters interface with the key 'ENCODING' and at least the according value 'B', so that an image like: "PHOTO;ENCODING=b;TYPE=JPEG:/9j/4AAQSkZJRgABAQEAYABgAAD..." can be sa

[2022-09-12 02:14] #685 closed

[2022-09-26 11:58] PericR commented on #672
Hi @DanielHabenicht, any info about when can we expect this fix?

[2022-09-30 05:24] colinherzog-codin commented on #688
Closed - stale.

[2022-10-27 11:30] SwapsPatil commented on #377
BEGIN:VCARD
VERSION:2.1
FN:Swapnil Patil
N:Patil;Swapnil;;;
ORG:org
ADR:;;Office 121 Street 234/A, India
TEL;TYPE=voice:1234561111
EMAIL:spatil@demo.com
TITLE:Software Engineers
PHOTO:PHOTO;TYPE=PNG;ENCODING=B:iVBORw0KGgoAAAANSUhEUgAAASkAAACqCAMAAADGFElyAAABiVBMVEX///9RmeXuuYrm5uY8T1zl5eXk5ORKMStwQjP19fXx8fHs7Oz39/fp6eny8vL8/PzJnXb6xZL2u4P/T21Qm+nUpXz1v47qt4hqOy7ttID0u4VJluVFKSJwQTAuGBpKLB80k+xlNi